---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('Mar 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		When I was 16 I started my trainee as a Design Engineer at EVO GmbH in Munich. I learned how to work on projects professionally and as a team. Also how to work with 
		_Catia V5_ and _Autodesk Inventor_ After 8 years of helping in the development of interiour parts for BMW, Rolls Royce, Mini and Carthago, where I took on more and more 
		responsibility, even managing my own projects in the end, I felt the urge to find something new. I went back to school to get my secondary degree and moved to Sweden to 
		study. Leading up to my university application my brothergot me interested in programming and started to show the very basics of _Java_ programming. That got me hooked
		immediately. Being able to write little games and see how things work under the hood got me so interested in learning more. So i applied for this Game Design program as 
		a Programming minor.
	<p>
		In my spare time I enjoy bouldering and sport climbing. I also do road trips with my girlfriend and our dog in various length. Traveling to Norway, Italy, Croatia and Serbia
		over the last couple of years. I also fell in love with Sweden and am currently learing Swedish.
	</p>
</Layout>
