---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('Mar 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		My previous work was a Game Design Engineer working with Catia V5 for the BMW Group in Munich where I come from.
	</p>

	<p>
		This is how I got to Sweden and started to get an interest in programming.
	</p>

	<p>
		This is how I like climbing and road trips with my girlfriend and dog.
	</p>
</Layout>
