---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="My journey from engineering to game programming and personal interests"
	pubDate={new Date('Mar 22 2026')}
	heroImage={AboutHeroImage}
>
<p>
	When I was 16, I started a trainee program as a Design Engineer at EVO GmbH in Munich. There, I learned how to work professionally on projects and as part of a team. 
	I also gained experience with _Catia V5_ and _Autodesk Inventor_. Over the next eight years, I helped develop interior parts for BMW, Rolls-Royce, Mini, and Carthago, 
	gradually taking on more responsibility and eventually managing my own projects. Feeling the urge to explore something new, I went back to school to complete my secondary 
	degree and moved to Sweden to study.
</p>

<p>
	Leading up to my university application, my brother introduced me to programming, showing me the basics of _Java_. I was immediately hooked—being able to write small 
	games and see how things work under the hood sparked my passion for learning more. This led me to apply for a Game Design program with a programming minor.
</p>

<p>
	During my fifth semester, I had the opportunity to participate in an exchange program at <strong>Queen’s University</strong> in Kingston, Canada. This experience allowed me to 
	collaborate with an international group of students, gain exposure to different teaching methods, and immerse myself in a new culture. I learned <em>Python</em> and 
	<em>Java</em> programming language basics and also took courses in art history and mathematics.
</p>

<p>
	In my spare time, I enjoy bouldering and sport climbing. I also love going on road trips with my girlfriend and our dog, traveling to Norway, 
	Italy, Croatia, and Serbia over the last few years. I’ve also fallen in love with Sweden and am currently learning Swedish.
</p>

//TODO: add pictures

</Layout>